html {
  background: #3d3846;
}

.post-actual{
  width: 60%;
  height: auto;
}

.post-preview{
  width: 20%;
  height: auto;
}

.btn {
    width: auto;
    background: #8d7ea7;
    font-size: 20px;
    margin: 10px auto;
    padding: auto;
    cursor: pointer;
}

.btn:hover {
  opacity: 0.3;
  background: #62547a;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: rgb(210, 185, 250);
  margin-bottom: 2em;
  flex: 0 1 24%;
}